<form action="/recipes" method="post">
  <p>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="Name">
  </p>
  <p>
    <label for="ingredients">Ingredients:</label>
    <input type="text" id="ingredients" name="ingredients" placeholder="Ingredients">
  </p>
  <p>
    <label for="cook_time">Cooking Time:</label>
    <input type="string" id="cook_time" name="cook_time" placeholder="Cook Time">
  </p>
  <p>
    <input type="submit" name="submit" value="Submit">
  </p>
</form>